<canvas id="my_canvas" width="100px" height="100px"></canvas>
<nav class="nav">
    <span id="sarah-chamorro"><span class="first">Sarah</span><span class="last">Chamorro</span></span>
    <ul>
        <li><a target="_blank" href="#">Home</a></li>
        <li><a target="_blank" href="https://github.com/uryelah">Projects</a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/uryelah/">About</a></li>
        <li><a target="_blank" href="https://hackernoon.com/@uryelah">Blog</a></li>
        <!--
        <li><a target="_blank" href="#">Archive</a></li>
        -->
    </ul>
</nav>
<main>
    <div class="scroll">
        <span class="scroll-inner"></span>
    </div>
    <h1><span>S</span><span>a</span><span>r</span><span>a</span><span>h</span> <span>C</span><span>h</span><span>a</span><span>m</span><span>o</span><span>r</span><span>r</span><span>o</span></h1>
    <article>
    <p>Howdy!🌻</p>
    <p>
        I'm Sarah, and I’m a certified Ruby on Rails and React full-stack web developer with a experience in UX research and design.
    </p>
    <p>
        I’m currently completing a degree in Computer Science and am exploring front-end remote opportunities with digital-product teams.
    </p>
    <p>
        Currently, I’m a Technical Support Engineer and mentor at Microverse, a remote full-stack development school, and a freelance as a front-end developer, working with a small collective of developers building solutions for medium-sized businesses using ReactJS and Firebase. 
    </p>
    <p>
        I especially enjoy building cohesive systems that are as functional as they are visually pleasing.
    </p>
    <p>Wan't to to swap contact information?</p>
    <p>Send me a message at <a target="_blank" href="mailto:sarahchamorro@gmail.com">sarahchamorro@gmail.com</a> to chat or discuss interesting roles and opportunities!
    </p>
    </p>
    </article>
    <hr>
    <section>
        <h2>Featured projects</h2>
        <div class="featured">
            <article class="featured-project featured-project-1">
                <%= image_tag "loeggo.jpg", class: "feature-video", autoplay: true, loop: true %>
                <p class="featured-title">
                    <span class="title-top">Lo Eggo</span>
                    <a href="https://uryelah.github.io/Microverse-603-restaurant-page/" target="_blank">
                        Live link
                    </a>
                    <a href="https://uryelah.github.io/Microverse-603-restaurant-page/" target="_blank">
                        GitHub repository
                    </a>
                </p>
            </article>
            <span class="details-m details-1">
                A breakfast restaurant page with client-side which allows users to toggle between the restaurant about page, menu, and contact information. 
                <p>Built with <span class="stack">Javascript</span> and <span class="stack">Webpack.</span></p>
            </span>
            <article class="featured-project featured-project-2">
                <%= image_tag "aokanji.png", class: "feature-video", autoplay: true, loop: true %>
                <p class="featured-title">
                    <span class="title-top">Ao Kanji</span>
                    <a href="https://uryelah.github.io/Microverse-603-restaurant-page/" target="_blank">
                        Live link
                    </a>
                    <a href="https://uryelah.github.io/Microverse-603-restaurant-page/" target="_blank">
                        GitHub repository
                    </a>
                </p>
            </article>
            <span class="details-m details-2">
                A Kanji mobile-first study catalog web-app that, by consuming the Japanse kanji API, enables students to select groups of Kanji by grade or work book lists and access their readings, stroke order, and pronunciation.
                <p>Built with <span class="stack">React</span> and <span class="stack">Redux.</span></p>
            </span>
            <span class="details details-1">
                A breakfast restaurant page with client-side which allows users to toggle between the restaurant about page, menu, and contact information. 
                <p>Built with <span class="stack">Javascript</span> and <span class="stack">Webpack.</span></p>
            </span>
            <span class="details details-2">
                A Kanji mobile-first study catalog web-app that, by consuming the Japanse kanji API, enables students to select groups of Kanji by grade or work book lists and access their readings, stroke order, and pronunciation.
                <p>Built with <span class="stack">React</span> and <span class="stack">Redux.</span></p>
            </span>
            <article class="featured-project featured-project-3">
                <%= image_tag "circle.jpg", class: "feature-video", autoplay: true, loop: true %>
                <p class="featured-title">
                    <span class="title-top">Circle</span>
                    <a href="https://hosting-test-29639.firebaseapp.com/" target="_blank">
                        Live link
                    </a>
                    <a href="https://github.com/uryelah/rails-react-capstone-project" target="_blank">
                        GitHub repository
                    </a>
                </p>
            </article>
            <span class="details-m details-3">
                A mobile-first SPA Rails and React web-app for remote meetups that let users create, favorite, and browse a catalog of meetings and groups.
                <p>
                    API built with <span class="stack">Rails</span> and Client with <span class="stack">React<span> and <span class="stack">Redux</span>. 
                </p>
            </span>
            <article class="featured-project featured-project-4">
                <%= image_tag "depths.png", class: "feature-video", autoplay: true, loop: true %>
                <p class="featured-title">
                    <span class="title-top">From the Depths</span>
                    <a href="https://uryelah.github.io/Microverse-603-restaurant-page/" target="_blank">
                        Live link
                    </a>
                    <a href="https://github.com/uryelah/from-the-depths" target="_blank">
                        GitHub repository
                    </a>
                </p>
            </article>
            <span class="details-m details-4">
                A Phaser3 game with stored score data with Leaderboard API service and original assets that let users play as a tentacle sea creature and shoot/squeeze divers. 
                <p>Built with <span class="stack">Phaser3</span></p>
            </span>
            <span class="details details-3">
                A mobile-first SPA Rails and React web-app for remote meetups that let users create, favorite, and browse a catalog of meetings and groups.
                <p>
                    API built with <span class="stack">Rails</span> and Client with <span class="stack">React<span> and <span class="stack">Redux</span>. 
                </p>
            </span>
            <span class="details details-4">
                A Phaser3 game with stored score data with Leaderboard API service and original assets that let users play as a tentacle sea creature and shoot/squeeze divers. 
                <p>Built with <span class="stack">Phaser3</span></p>
            </span>
            <article class="featured-project featured-project-5">
                <%= image_tag "flag.png", class: "feature-video", autoplay: true, loop: true %>
                <p class="featured-title">
                    <span class="title-top">Where in the world?</span>
                    <a href="https://countries-db.web.app/" target="_blank">
                        Live link
                    </a>
                    <a href="https://github.com/uryelah/country-flags" target="_blank">
                        GitHub repository
                    </a>
                </p>
            </article>
            <span class="details-5 details-m">
                A responsive country catalog app with restcountries.eu data, and a togglable dark UI theme. It allows users to search countries by their code, name, and browse countries bordering the currently selected country.
                <p>Built with <span class="stack">React</span> and <span class="stack">Material UI.</span></p>
            </span>
            <article class="featured-project featured-project-6">
                <%= image_tag "tic.png", class: "feature-video", autoplay: true, loop: true %>
                <p class="featured-title">
                    <span class="title-top">Tic Tac Toe</span>
                    <a href="https://github.com/uryelah/tic-tac-toe-game" target="_blank">
                        GitHub repository
                    </a>
                </p>
            </article>
            <span class="details-6 details-m">
                A ruby version of the traditional Tic Tac Toe that let's two players have matches via terminal commands.
                <p>Built with <span class="stack">Ruby</span> and <span class="stack">Webpack.</span></p>
            </span>
            <span class="details-5 details">
                A responsive country catalog app with restcountries.eu data, and a togglable dark UI theme. It allows users to search countries by their code, name, and browse countries bordering the currently selected country.
                <p>Built with <span class="stack">React</span> and <span class="stack">Material UI.</span></p>
            </span>
            <span class="details-6 details">
                A ruby version of the traditional Tic Tac Toe that let's two players have matches via terminal commands.
                <p>Built with <span class="stack">Ruby</span> and <span class="stack">Webpack.</span></p>
            </span>
        </div>
    </section>
</main>
<footer>
<nav class="footer-nav nav">
    <span id="sarah-chamorro"><span class="first">Sarah</span><span class="last">Chamorro</span></span>
    <ul>
        <li><a target="_blank" href="sarahchamorro@gmail.com">Send me mail</a></li>
        <li><a target="_blank" href="https://twitter.com/sarah_chamorro">@sarah_chamorro</a></li>
        <li><a target="_blank" href="https://github.com/uryelah"></a></li>
        <!--codepen-->
        <li><a target="_blank" href="https://codepen.io/uryelah"></a></li>
        <!--linkedin-->
        <li><a target="_blank" href="https://www.linkedin.com/in/uryelah/"></a></li>
    </ul>
</nav>
</footer>